.allFunds {
    padding-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allFunds .fundTitle {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 60px;;
}

.cardList {
    margin-top: 20px;
}
