.allFunds {
    font-family: 'Barlow Semi Condensed';
    padding-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allFunds .fundTitle {
    font-size: 60px;;
}

.cardList {
    margin-top: 20px;
}
