.home {
  background-image: url(../assets/homepage.jpg);
  padding-top: 100px;   
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  margin-top: 100px;
  margin-left: 70px;
  text-align: left;
  width: 550px;
}

.headerContainer h1 {
  margin-bottom: 0px;
  font-size: 80px;
  font-weight: 50;
  color: rgb(127, 0, 255);
}

.headerContainer p {
  padding: 0;
  font-size: 35px;
  color: #301934;
}

.headerContainer button {
  text-decoration: none;
  padding-left: 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 13px;
  background-image: linear-gradient(to bottom right, #7F00FF, #BF40BF);
  height: 50px;
  width: 200px;
  color: white;
  font-size: 11px;
}

.arr {
  background: white;
  display: block;
  float: left;
}
.arr-prev {
  width: 12px;
  height: 12px;
  margin: 5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.arr-prev:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(to bottom left, #BF40BF, #7F00FF);
}
@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}

#view_btn span {
  font-size: 18px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

